.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.flex .flex-20 {
    width: 19%;
}

.flex .flex-40 {
    width: 39%;
}

.flex .flex-50 {
    width: 49%;
}

.flex .flex-60 {
    width: 59%;
}



/* VARIA */
.flex .flex-20 a {
    text-decoration: none;
}