.flex {
    display: flex;
    width: 100%;
    column-gap: 15px;
    align-self: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.flex-no-gap {
    display: flex;
    width: 100%;
    column-gap: 15px;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
}

.flex-scroll {
    display: flex;
    width: 100%;
    column-gap: 15px;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
}

.flex-05 {
    width: 5%;
}

.flex-10 {
    width: 10%;
}

.flex-15 {
    width: 15%;
}

.flex-20 {
    width: 20%;
}

.flex-25 {
    width: 25%;
}

.flex-30 {
    width: 25%;
}

.flex-33 {
    width: 33.33%;
}

.flex-35 {
    width: 35%;
}

.flex-40 {
    width: 40%;
}

.flex-45 {
    width: 45%;
}

.flex-50 {
    width: 50%;
}

.flex-55 {
    width: 55%;
}

.flex-60 {
    width: 60%;
}

.flex-65 {
    width: 65%;
}

.flex-66 {
    width: 66.66%;
}

.flex-70 {
    width: 70%;
}

.flex-75 {
    width: 75%;
}

.flex-80 {
    width: 80%;
}

.flex-85 {
    width: 85%;
}

.flex-90 {
    width: 90%;
}

.flex-95 {
    width: 95%;
}

.flex-100 {
    width: 100%;
}

#text {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

#img-border {
    border-radius: 25px;
    background-size: cover;
    background-position: center;
}