@media screen and (max-width: 768px) {
    section#citytrip .flex {
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
    }

    section#citytrip .image-box {
        width: 200px;
        margin-right: 10px;
    }

    section#citytrip .image-box .last {
        margin-right: 0px;
    }
}