/* FORM */
section.trip-planner {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 100px;
    background-color: rgb(45, 46, 131);
}

section.trip-planner h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-weight: 500;
}

section.trip-planner form#trip-planner fieldset {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    border: none;
}

section.trip-planner form#trip-planner select {
    width: 48%;
    padding: 5px;
    font-family: "Karla", "sans serif";
    font-size: 1.1rem;
}

section.trip-planner form#trip-planner select optgroup {
    font-size: 0.95rem;
}

section.trip-planner form#trip-planner i {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
}

section.trip-planner form#trip-planner button {
    margin-left: auto;
    padding: 10px;
    background-color: rgb(138, 203, 193);
    font-family: "Karla", "sans serif";
    font-size: 1rem;
    border: none;
    border-radius: 7.5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

section.trip-planner form#trip-planner button:hover {
    background-color: rgb(45, 46, 131);
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    section.trip-planner h2 {
        font-size: 2rem;
    }

    section.trip-planner form#trip-planner fieldset {
        display: block;
        margin-bottom: 0px;
    }

    section.trip-planner form#trip-planner select {
        width: 100%;
        margin-bottom: 10px;
    }
    
    section.trip-planner form#trip-planner i {
        display: none;
    }
}