/* NAVIGATIEBAR */
nav {
    display: flex;
    width: 100%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    height: 12.5vh;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
}

nav .mobile-nav {
    display: none;
}

nav a img {
    width: 100%;
    height: 7.5vh;
    max-height: 60px;

}

nav .laptop-nav {
    width: 70%;
}

nav .laptop-nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0px;
}

nav .laptop-nav ul li {
    margin-left: 0px;
}

nav .laptop-nav ul li a {
    font-family: "Figtree", "sans serif";
    font-size: 1.1rem;
    color: rgb(45, 46, 131);
    text-decoration: none;
    border-bottom: 0px solid rgb(45, 46, 131);
    transition: all 0.15s ease-in-out;
}

nav .laptop-nav ul li a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
}

@media screen and (max-width: 1050px) {
    nav {
        height: 7.5vh;
    }
    
    nav a img {
        height: 3.5vh;
    }
}

@media screen and (max-width: 900px) {
    nav {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 700px) {
    nav .laptop-nav {
        display: none;
    }

    nav .mobile-nav {
        display: unset;
    }

    nav {
        height: 10vh;
        padding-left: 5%;
        padding-right: 5%;
    }

    nav a img {
        height: 5vh;
    }

    nav span.mobile-nav-link {
        font-size: 30px;
        cursor: pointer;
    }

    .nav-overlay {
        z-index: 100;
        height: 0%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
    }
      
    .nav-overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
      
    .nav-overlay a {
        padding: 8px;
        text-decoration: none;
        font-family: 'Figtree', 'sans serif';
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
      
    .nav-overlay a:hover, .nav-overlay a:focus {
        color: #f1f1f1;
    }
      
    .nav-overlay .closebtn {
        position: absolute;
        top: 10px;
        right: 45px;
        font-size: 60px;
    }
}


/* FOOTER */
footer {
    width: 100%;
    margin-top: 42.5px;
}

footer section {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

footer section#top {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    background-color: rgb(225, 225, 225);
    font-size: 0.85rem;
}

footer section#top b {
    font-family: "Figtree", "sans serif";
    font-weight: 500;
    font-size: 0.95rem;
}

footer section#middle {
    display: flex;
    padding-top: 25px;
    padding-bottom: 12.5px;
    background-color: rgb(191, 191, 191);
    justify-content: space-around;
    text-align: center;
}

footer section#middle ul {
    list-style-type: none;
    margin-bottom: 0px;
}

footer section#middle ul li {
    margin-left: 0px;
}

footer section#middle ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

footer section#middle ul li a:hover {
    text-decoration: underline;
}

footer section#middle ul li a b {
    font-family: "Figtree", "sans serif";
    text-transform: uppercase;
    font-weight: 600;
}

footer section#bottom {
    padding-top: 12.5px;
    padding-bottom: 10px;
    background-color: rgb(191, 191, 191);
    text-align: center;
}

footer section#bottom a img {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12.5px;
}

footer section#bottom i {
    display: block;
    margin-top: 17.5px;
    font-size: 0.8rem;
}

footer section#bottom i a {
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 900px) {
    footer section#middle {
        display: none;
    }
}