nav {
    z-index: 100;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 10vh;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 6px rgb(100, 100, 100);
    justify-content: space-between;
    align-items: center;
}



/* LOGO */
nav .nav-left a img {
    height: 8vh;
    margin-top: 0.9vh;
}



/* NAV RIGHT LAPTOP */
nav .nav-right-laptop {
    width: 75%;
}

nav .nav-right-mobile {
    display: none;
}

nav .nav-right-laptop ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav .nav-right-laptop ul li a {
    font-family: "Figtree", "sans serif";
    font-size: 1.05rem;
    font-weight: 500;
    color: rgb(45, 46, 131);
    text-decoration: none;
    border-bottom: solid 0px rgb(45, 46, 131);
    transition: all 0.2s ease-in-out;
}

nav .nav-right-laptop ul li a:hover {
    color: rgb(138, 203, 193);
    border-bottom: solid 2.5px rgb(138, 203, 193);
}



/* FOOTER */
footer {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10vh;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(255, 255, 255);
}

footer .footer-top {
    font-size: 0.8rem;
}

footer .footer-top b {
    font-family: "Figtree", "sans serif";
    font-size: 0.9rem;
    font-weight: 500;
}

footer .footer-middle {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

footer .footer-middle a img {
    width: 25%;
}

footer .footer-bottom {
    text-align: center;
    font-size: 0.75rem;
}

footer .footer-bottom ul {
    display: flex;
    width: 100%;
    margin-bottom: 12.5px;
    list-style-type: none;
    justify-content: space-between;
}

footer .footer-bottom ul li {
    font-size: 0.9rem;
}



/* NAV MOBILE */
@media screen and (max-width: 992px) {
    nav .nav-right-laptop {
        display: none;
    }

    nav .nav-right-mobile {
        display: unset;
    }

    nav {
        height: 7.5vh;
        align-items: center;
    }

    nav .nav-left a img {
        height: 5vh;
        margin-top: 0.6vh;
    }

    nav span.mobile-nav-link {
        font-size: 36px;
        cursor: pointer;
    }

    .nav-overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
    }
      
    .nav-overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
      
    .nav-overlay a {
        padding: 8px;
        text-decoration: none;
        font-family: "Figtree", "sans serif";
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
      
    .nav-overlay a:hover, .nav-overlay a:focus {
        color: #f1f1f1;
    }
      
    .nav-overlay .closebtn {
        position: absolute;
        top: 10px;
        right: 45px;
        font-size: 60px;
    }

    footer {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    footer .footer-middle a img {
        width: 60%;
    }

    footer .footer-bottom ul {
        display: block;
    }
}