nav {
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 8px rgb(100,100,100);
        border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

nav .nav-top {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

nav .nav-top a img {
    height: 8vh;
}

nav .nav-top .nav-top-mobile {
    display: none;
}

nav .nav-bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 46, 131);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

nav .nav-bottom ul {
    display: flex;
    margin-bottom: 0px;
    list-style-type: none;
}

nav .nav-bottom ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
    transition: all 0.3s ease-in-out;
}

nav .nav-bottom ul li a {
    font-family: "Ubuntu", "sans serif";
    font-size: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

nav .nav-bottom ul li:hover {
    background-color: rgb(138, 203, 193);
}

nav .nav-bottom ul li:hover a {
    color: rgb(45, 46, 131);
}



/* Mobiele navigatie */
nav .nav-top .nav-top-mobile a img {
    width: 75%;
    height: calc(7.5vh - 20px);
}

nav .nav-top .nav-top-mobile span.mobile-nav-link {
    font-size: 25px;
    cursor: pointer;
}

nav .nav-top .nav-top-mobile .nav-overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
  
nav .nav-top .nav-top-mobile .nav-overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
nav .nav-top .nav-top-mobile .nav-overlay a {
    padding: 8px;
    text-decoration: none;
    font-family: "Ubuntu", "sans serif";
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
nav .nav-top .nav-top-mobile .nav-overlay a:hover, .nav-overlay a:focus {
    color: #f1f1f1;
}
  
nav .nav-top .nav-top-mobile .nav-overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 45px;
    font-size: 60px;
}