@media screen and (min-width: 1400px) {
    /* Lay-Out */
    header .header-text, section, section.gray, section.first, section.last, section.last-gray {
        padding-left: 17.5%;
        padding-right: 17.5%;
    }


    /* Navigatie */
    nav .nav-bottom ul li {
        padding-left: 20px;
        padding-right: 20px;
    }


    /* Flexbox */
    .flex {
        column-gap: 25px;
    }
}