@media screen and (max-width: 768px) {
    body {
        padding-left: 5vw;
        padding-right: 5vw;
    }


    /* TEKST */
    h1 {
        font-size: 3rem;
    }


    /* NAVIGATIE + HEADER */
    nav {
        height: 10vh;
    }

    nav .nav-left a img {
        height: 6vh;
    }

    header.image {
        height: 90vh;
    }


    /* FLEXBOX */
    .flex {
        flex-direction: column;
    }

    .flex .flex-5, .flex .flex-10, .flex .flex-15, .flex .flex-20, .flex .flex-25, .flex .flex-30, .flex .flex-33, .flex .flex-35, .flex .flex-40, .flex .flex-45, .flex .flex-50, .flex .flex-55, .flex .flex-60, .flex .flex-65, .flex .flex-66, .flex .flex-70, .flex .flex-75, .flex .flex-80, .flex .flex-85, .flex .flex-90, .flex .flex-95 {
        width: 100%;
    }
}